<!DOCTYPE html>
<html lang="en" th:replace="~{base :: parent(~{::#content},~{::title},~{::script})}">
    <head>
        <title>About</title>
    </head>
    <body>
        <div id="content" class="pt-24  mt-5">
            <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
                <!-- About Section -->
                <div class="text-center mb-8">
                    <h1 class="text-4xl font-extrabold text-gray-900 dark:text-white mb-4 animate__animated animate__fadeIn animate__delay-1s animate__zoomIn">About This Project</h1>
                    <p class="text-gray-700 dark:text-gray-300 mb-6 animate__animated animate__fadeIn animate__delay-2s animate__slideInUp">This project is developed as part of my master's program to provide a comprehensive contact management solution. The application includes features such as adding, updating, and deleting contacts, exporting data, and switching between dark and light modes.</p>
                </div>
        
                <!-- Project Goals -->
                <div class="text-center bg-gray-100 dark:bg-gray-700 p-6 rounded-lg shadow-md mb-8 animate__animated animate__fadeIn animate__delay-3s">
                    <h2 class="text-2xl font-semibold text-gray-900 dark:text-white mb-4">Project Goals</h2>
                    <ul class="list-disc list-inside text-gray-700 dark:text-gray-300">
                        <li>To create a user-friendly contact management system.</li>
                        <li>To implement secure login and data handling practices.</li>
                        <li>To offer customization options through dark and light modes.</li>
                        <li>To provide easy data backup and restoration features.</li>
                    </ul>
                </div>
        
                <!-- Technology Used -->
                <div class="text-center bg-gray-100 dark:bg-gray-700 p-6 rounded-lg shadow-md animate__animated animate__fadeIn animate__delay-4s">
                    <h2 class="text-2xl font-semibold text-gray-900 dark:text-white mb-4">Technology Used</h2>
                    <p class="text-gray-700 dark:text-gray-300 mb-4">This project utilizes a range of technologies to deliver a robust and efficient contact management system:</p>
                    <ul class="list-disc list-inside text-gray-700 dark:text-gray-300">
                        <li>Frontend: HTML, CSS, JavaScript, Bootstrap, Tailwind CSS</li>
                        <li>Backend: Java Spring Boot</li>
                        <li>Database: MongoDB</li>
                        <li>Authentication: Google and GitHub OAuth</li>
                    </ul>
                </div>
            </div>
        </div>
        <script>
        </script>
    </body>
</html>